._*
.DS_Store
.DS_Store?
thumbs.db
node_modules
venv2
*.egg-info
.vscode/
.idea/
build/
__pycache__/
__pypackages__/

.ipynb_checkpoints

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
*.swp
*.swn
**/*.log
*.py[cod]
*$py.class
*.so
*.db
*.session
*.session-journal
